<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"><!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Covid Information</title>
</head>

<body>
<!--covid info-->
<div class="col-md-6 col-md-offset-3">
    <h1>Covid Information</h1>
    <form method = "post" action='/covid'>
        <input type="text" name="country" placeholder="Enter Country Name: ">
        <button type="submit"> Enter </button>
    </form>
    {% if data %}
    <h2 style="color:blue;font-family:verdana">Country :{{data.country}}</h2>
    <h3>Total Confirmed   :{{data.TotalConfirmed}}</h3>
    <h3>Total Deaths  :{{data.TotalDeaths}}</h3>
    {% endif %}

    {% if msg %}
    <h2 style="color:red;font-family:verdana">{{msg}}</h2>
    {% endif %}
</div>
</body>
</html>